.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-top: 56px;
  padding-right: 160px;
  padding-left: 160px;
}

@media (width <= 39rem) {
  .header {
    width: 100%;
    padding: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
}
