.hero-3-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 235px;

  & .hero-3-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 88px;
    & div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      gap: 16px;

      & img {
        filter: drop-shadow(0px 1px 6px rgb(149, 71, 165, 0.6));
      }
    }
  }

  .hero-3-anim {
    display: block;
    position: relative;
    width: 100%;

    filter: drop-shadow(0px 0.2px 25px rgb(149, 71, 165, 0.6));
    & img,
    p {
      position: absolute;
    }

    & img:nth-child(1) {
      z-index: 3;
      top: 0;
      left: 30%;
      width: 40%;
    }
    & img:nth-child(2) {
      z-index: 2;
      transition:
        transform 1.5s ease,
        rotate 1.5s ease;
      top: 20px;
      left: 55%;
      width: 15%;
    }

    & img:nth-child(3) {
      z-index: 1;
      transition:
        transform 1.5s ease,
        rotate 1.5s ease;
      top: 20px;
      left: 55%;
      width: 15%;
    }

    & img:nth-child(4) {
      z-index: 1;
      transition:
        transform 1.5s ease,
        rotate 1.5s ease;
      top: 330px;
      left: 32%;
      width: 20%;
    }

    & img:nth-child(5) {
      z-index: 1;
      transition:
        transform 1.5s ease,
        scale 1.5s ease;
      transform: scale(0.5);
      top: 50px;
      left: 35%;
    }
    & img:nth-child(6) {
      z-index: 1;
      transition:
        transform 1.5s ease,
        scale 1.5s ease;
      transform: scale(0.5);
      top: 450px;
      left: 60%;
    }
    & img:nth-child(7) {
      z-index: 1;
      transition:
        transform 1.5s ease,
        scale 1.5s ease;
      transform: scale(0.5);
      top: 350px;
      left: 32%;
    }
    & p:nth-child(8) {
      z-index: 1;
      transition:
        transform 1.5s ease,
        scale 1.5s ease;
      transform: scale(0.5);
      top: 25px;
      left: 35%;
    }
    & p:nth-child(9) {
      z-index: 1;
      transition:
        transform 1.5s ease,
        scale 1.5s ease;
      transform: scale(0.5);
      top: 450px;
      left: 55%;
    }

    & p:nth-child(10) {
      z-index: 1;
      transition:
        transform 1.5s ease,
        scale 1.5s ease;
      transform: scale(0.5);
      top: 350px;
      left: 35%;
    }
  }
}
& .hero-3-anim:hover {
  & img:nth-child(2) {
    transform: translateX(150px) rotate(15deg);
  }
  & img:nth-child(3) {
    transform: translate(250px, 100px) rotate(25deg);
  }

  & img:nth-child(4) {
    transform: translate(-165px) rotate(-15deg);
  }
  & img:nth-child(5) {
    transform: translate(-225px, -80px) scale(1);
  }

  & p:nth-child(8) {
    transform: translate(-300px, -95px) scale(1);
  }

  & img:nth-child(6) {
    transform: translate(150px, 200px) scale(1);
  }
  & p:nth-child(9) {
    transform: translate(135px, 365px) scale(1);
  }

  & img:nth-child(7) {
    transform: translate(-200px, -150px) scale(1);
  }

  & p:nth-child(10) {
    transform: translate(-250px, -185px) scale(1);
  }
}
@media (width <= 39rem) {
  .hero-3-div-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 324px;

    .hero-3-header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 108px;
      & h2 {
        text-align: center;
        text-wrap: nowrap;
        font: var(--title-xsm);
      }
      & img {
        width: 20px;
        filter: drop-shadow(0px 1px 6px rgb(149, 71, 165, 0.6));
      }
    }
  }

  & .hero-3-anim-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 108px;
    position: relative;
    filter: drop-shadow(0px 0.2px 25px rgb(149, 71, 165, 0.6));

    & img {
      position: absolute;
      width: 25%;
    }

    & p {
      position: absolute;
      font: var(--body-xxs);
    }
    & img:nth-child(1) {
      width: 157px;

      z-index: 2;
    }

    & img:nth-child(2) {
      width: 65px;
      transform: translate(85px, -40px) rotate(10deg);
    }
    & img:nth-child(3) {
      width: 65px;
      z-index: -1;
      transform: translate(125px, -15px) rotate(25deg);
    }

    & img:nth-child(4) {
      width: 74px;
      transform: translate(-85px, 85px) rotate(-7.55deg);
    }

    & img:nth-child(5) {
      transform: translate(-95px, -120px) rotate(20deg);
    }

    & img:nth-child(6) {
      transform: translate(85px, 120px);
    }
    & img:nth-child(7) {
      width: 65px;
      transform: translate(-125px, -5px);
    }
    & p:nth-child(8) {
      transform: translate(-125px, -150px);
    }

    & p:nth-child(9) {
      transform: translate(50px, 185px);
    }

    & p:nth-child(10) {
      transform: translate(-130px, -65px);
    }
  }
}
