main {
  position: relative;
  width: 100%;
  & .hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../assets/hero/hero-background.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0;
    animation: fadeIn 4s forwards;
  }
  & .hero-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    padding-top: 164px;
    padding-bottom: 470px;
    padding-right: 232px;
    padding-left: 232px;

    opacity: 0;
    animation: fadeIn 4s forwards;

    & h1 {
      font: var(--title-lg);
      color: var(--text-title);
    }

    & h3 {
      font: var(--body-lg);
      color: var(--text-body);
    }

    & h4 {
      font: var(--body-md);
      color: var(--text-body);
    }
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (width<= 39rem) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    .hero-img {
      width: 100%;
      height: 100%;
      background-size: cover no-repeat;
      background-position: center;
      animation: fadeIn 4s forwards;
    }

    .hero-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0;
      text-align: center;
      text-wrap: wrap;
      margin-top: 48px;
      margin-bottom: 193px;
      padding-left: 20px;
      padding-right: 20px;
      animation: fadeIn 4s forwards;
    }
  }
}
