.desktop-only {
  .hero-2-div {
    width: 100%;
    padding-top: 96px;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    & p {
      width: 100%;
      opacity: 1;
      display: inline;

      & #strong-1 {
        opacity: 0.5;
        transition: opacity 2s ease;
      }
      & #strong-2 {
        opacity: 0.5;
        transition: opacity 2s ease;
      }

      & #strong-3 {
        opacity: 0.5;
        transition: opacity 2s ease;
      }
    }
    & img {
      width: 88px;
    }
    & #img-1 {
      opacity: 0;
      transform: rotate(0deg) scale(0.5);
      transition:
        opacity 2s ease,
        transform 2s ease;
    }

    & #img-2 {
      opacity: 0;
      transform: rotate(0deg) scale(0.5);
      transition:
        opacity 2s ease,
        transform 2s ease;
    }
    & #img-3 {
      opacity: 0;
      transform: rotate(0deg) scale(0.5);
      transition:
        opacity 1s ease,
        transform 1s ease;
    }
    & .hero-2-imgs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & strong {
      color: var(--text-body);
      transition: color 1s ease;
    }
  }

  .hero-2-div:hover {
    & p {
      opacity: 1;
    }
    #strong-1 {
      opacity: 1;
      transition-delay: 0s;

      & strong {
        color: var(--blue-light);
        transition-delay: 0s;
      }
    }
    #strong-2 {
      opacity: 1;
      transition-delay: 1s;

      & strong {
        color: var(--blue-light);
        transition-delay: 1s;
      }
    }

    #strong-3 {
      opacity: 1;
      transition-delay: 2s;

      & strong {
        color: var(--blue-light);
        transition-delay: 2s;
      }
    }

    & #img-1 {
      transform: rotate(25deg) scale(1);
      opacity: 1;
    }

    & #img-2 {
      transform: rotate(90deg) scale(1);
      opacity: 1;
      transition-delay: 1s;
    }

    & #img-3 {
      transform: rotate(-20deg) scale(1);
      opacity: 1;
      transition-delay: 2s;
    }

    #img-1:hover {
      transform: rotate(5deg) scale(1.2);
    }
    .hero-2-imgs {
      & #img-2:hover {
        transform: rotate(120deg) scale(1.2);
        transition-delay: 0s;
      }

      & #img-3:hover {
        transform: rotate(5deg) scale(1.2);
        transition-delay: 0s;
      }
    }
  }
}

@media (width <= 39rem) {
  .hero-2-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 64px;
    padding-bottom: 0;
    margin-bottom: 104px;

    & .subtitle {
      text-wrap: wrap;
      text-align: center;
    }
    & img {
      width: 40px;
      height: 40px;
    }

    & #img-1 {
      transform: translate(150px, -100px) rotate(15deg);
    }

    & #img-2 {
      transform: translate(-275px, 100px) rotate(-80deg);
    }
    & #img-3 {
      transform: translate(0px, 50px) rotate(30deg);
    }
  }
}
