@import url(./global.css);
@import url(./utilitary.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./hero-2.css);
@import url(./hero-3.css);
@import url(./hero-4.css);
@import url(./cards.css);
@import url(./footer.css);
